*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    background: linear-gradient( 55deg, rgb(0, 0, 0), rgb(81, 80, 80));
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 4px rgba(59, 58, 58, 0.826);
}

.card::before {
    content: "";
    position: absolute;
    top: calc(100% - 400px);
    left: -80px;
    z-index: -1;
    background: rgba(43, 49, 45, 0.2);
    border-radius: 50%;
    width: 500px;
    height: 500px;
}
.card::after {
    content: "";
    position: absolute;
    top: -80px;
    right: -16px;
    z-index: -1;
    background:rgba(43, 54, 47, 0.362) ;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.card .container-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: #ffffff;
    background: linear-gradient(180deg, rgb(41, 42, 41), rgb(81, 85, 82));
    padding-left: 2rem;
    padding-right: 3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 9px;
}

.card .container-label span {
    background-color: #ffffff;
    margin-top: 2px;
    height: 3px;
    width: 48px;
}

.card .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
}

.card .container-icon .circle {
    display: flex ;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: linear-gradient( 180deg,rgb(47, 49, 46), rgb(109, 109, 109));
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.card .container-icon .circle i {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 900;
}

.card .container-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(60, 68, 63);
    background: #e0e0e0;
    padding: 5rem;
    width: 450px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card .container-form label {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.card .container-form input {
    color: rgb(65, 75, 69);
    background-color: transparent;
    padding: 8px;
    border: none;
    border-bottom: 1px  solid rgb(0, 66, 16);
    width: 100%;
}

.card .container-form input:focus {
    border-color: rgb(0, 0, 0);
    outline: 0;
}

.card .container-form input::placeholder {
    color:rgb(65, 75, 69);
}

.card .container-form #email {
    margin-bottom: 1.75rem;
}

.card .container-form .change-password {
    font-size: 0.8rem;
    font-weight: 500;
    color:rgb(59, 68, 62);
    margin-top: 01.75rem;
}

.card .container-form .change-password a {
    color: rgb(51, 71, 59);
}
.card .container-form button {
    color: #ffffff;
    text-transform: uppercase;
    background:  linear-gradient(180deg, rgb(43, 44, 43), rgb(84, 88, 85));
    padding: 12px 16px;
    margin-top: 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media(max-width: 768px) {
    .container {
        padding: 1rem;
    }
    .card {
        flex-direction: column;
        width: 100%;
    }
    .card::before {
        display: none;
    }
    .card::after {
        display: none;
    }
    .card .container-label {
        padding: 3rem 2rem;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 0;
    }
    .card .container-form {
        display: none;
    }
    .card .container-form form {
        padding: 3rem 2rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        width: auto;
    }
}